name: Azure Login and Deploy  # workflow का नाम

on:
  push:
    branches:
      - main

jobs:  # ये required property है
  build-and-deploy:  # job का नाम
    runs-on: ubuntu-latest  # OS runner

    steps:  # steps array
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          auth-type: SERVICE_PRINCIPAL
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}

      - name: Deploy App
        run: echo "Your deployment commands go here"





