name: Azure Login and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repo
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Login to Azure using Service Principal
      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Step 3: Deploy App to Azure App Service
      - name: Deploy App to Azure
        run: |
          az webapp up --name stock-news-filter-app --resource-group stock-news-rg --location eastus

  
 
    
