name: Azure WebApp Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4

      # Azure login
      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Zip the project
      - name: Create deployment ZIP
        run: zip -r app.zip .

      # Deploy ZIP to Azure Web App
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: stock-news-filter-app
          resource-group: stock-news-rg
          package: app.zip




  
 
    
