name: Azure Login and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Login to Azure using Service Principal
      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Step 3: Zip the app files
      - name: Zip files
        run: zip -r app.zip .

      # Step 4: Deploy zipped app to Azure Web App
      - name: Deploy to Azure WebApp
        run: az webapp deployment source config-zip --resource-group stock-news-rg --name stock-news-filter-app --src app.zip


  
 
    
